#Navigation{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    margin: 0px auto;
    position: relative;
    bottom: 13px;
  }
  .mainLogo{
    display: block;
    height: 50px;
    width: 70px;
  }
  .logoPart{
    display: flex;
    align-items: center;
    padding: 0px 30px;
  }
  .midNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /* color: lemonchiffon; */
    width: 96vw;
    /* background-image: linear-gradient(to right, darkblue, skyblue); */
    background-image: linear-gradient(to right,darkblue, mediumblue);
    /* color: vo; */
    box-sizing: border-box;
    border-radius: 15px;
  }
  .user{
    padding: 0px 50px;
  }
  #user{
    padding: 1px 30px;
    border-radius: 22px;
  }
  .cart{
    width: 30px;
    height: 30px;
    position: relative;
    right: 44%;
  }
  
  .extra{
    display: flex;
    align-items: center;
    position: relative;
    right: 10px;
  }
  
  .research{
    display: flex;
    align-items: center;
    padding: 2px 3px;
    position: relative;
    top: 10px;
  }
  
  .research input{
    border-radius: 7px;
    border: none;
    width: 310px;
    height: 20px;
  }
  
  .search{
    height: 30px;
    width: 30px;
  }
  .myButton{
    background: none;
    border: none;
    position: relative;
    right: 10px;
  }
  .nav-icon{
    display: none;
  }