.MainHome{
  width: 100%;
}

#Navigation{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    margin: 0px auto;
    position: relative;
    bottom: 13px;
  }
  .mainLogo{
    display: block;
    height: 50px;
    width: 70px;
  }
  .logoPart{
    display: flex;
    align-items: center;
    padding: 0px 30px;
  }
  .midNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /* color: lemonchiffon; */
    width: 96vw;
    /* background-image: linear-gradient(to right, darkblue, skyblue); */
    background-image: linear-gradient(to right,darkblue, mediumblue);
    /* color: vo; */
    box-sizing: border-box;
    border-radius: 15px;
  }
  .user{
    padding: 0px 50px;
  }
  #user{
    padding: 1px 30px;
    border-radius: 22px;
  }
  .cartIcon{
    width: 30px;
    height: 30px;
    position: relative;
    right: 4rem;
    color: lemonchiffon;
  }
  
  .extra{
    display: flex;
    align-items: center;
    position: relative;
    right: 10px;
  }
  
  .research{
    display: flex;
    align-items: center;
    padding: 2px 3px;
    position: relative;
    top: 10px;
  }
  
  .research input{
    border-radius: 7px;
    border: none;
    width: 20vw;
    height: 20px;
  }
  
  .search{
    height: 30px;
    width: 30px;
  }
  .myButton{
    background: none;
    border: none;
    position: relative;
    right: 10px;
  }
  .nav-icon{
    display: none;
  }

  .drop-down-dad{
    position: relative;
    display: flex;
    align-items: center;
    top: 10px;
  }
  .drop-down-child{
    position: absolute;
    top: -27px;
    left: 0;
  }
  .drop-down-child-lap{
    position: absolute;
    top: -27px;
    right: -10px;
  }
  .drop-down-child-log{
    position: absolute;
    top: -10px;
    right: -10px;
  }

  /* .dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
  }
  .dropdown-item:hover {
    background-color: #F0F0F0;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: none;
    width: 160px;
  } */
  /* .dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column; /* Display as a column */
  /* } */ 