@media screen and (min-width: 515px) and (max-width: 760px) {
    body {
        background-color: pink;
    }

    #infoBtn{
        width: 10px;
    }

    .extra {
        width: 53vw;
    }

    .logoPart {
        width: 45vw;
    }

    .research input {
        width: 60vw;
        height: 25px;
        border-radius: 2px;
        position: relative;
        right: 40px;
    }

    .myButton {
        position: relative;
        right: 95px;
    }

    .serImg {
        display: none;
    }

    #Navigation {
        position: absolute;
        top: 53px;
        width: 90vw;
        right: 114px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 0px;
        right: 25px;
        transform: translate(-100%, 60%);
        /* font-size: 1.8rem; */
        cursor: pointer;
        z-index: 3;
        color: #FFDD40;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 80%;
        border-top: 1px solid white;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background-color: rgba(62, 54, 209, 0.53);
        ;
        min-width: 375px;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding-left: 0;
        margin: 0;
        /* margin-top: 5px; */
    }

    .research {
        position: absolute;
        bottom: 370px;
    }

    .cartIcon{
        position: absolute;
    bottom: 10px;
    }
}

@media screen and (min-width: 350px) and (max-width: 515px) {
    body {
        background-color: purple;
    }


    .changebtn {
        color: red;
        position: relative;
        bottom: 15px;
        width: 20px;
    }

    #shop {
        /* font-size: 1rem; */
        display: none;
    }

    .mainLogo {
        display: block;
        /* display: none; */
        width: 50px;
        height: 50px;
    }

    .myText {
        width: 50vw;
        color: purple;
    }

    .extra {
        position: absolute;
        right: 15%;
    }

    .research input {
        width: 60vw;
        height: 25px;
        border-radius: 2px;
        position: relative;
        right: 40px;
        /* bottom: 115px; */
    }

    .myButton {
        position: relative;
        right: 95px;
    }

    #Navigation {
        position: absolute;
        top: 53px;
        width: 90vw;
        right: 114px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 0px;
        right: 25px;
        transform: translate(-100%, 60%);
        /* font-size: 1.8rem; */
        cursor: pointer;
        z-index: 3;
        color: #FFDD40;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 80%;
        border-top: 1px solid white;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background-color: rgba(62, 54, 209, 0.53);
        min-width: 375px;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding-left: 0;
        margin: 0;
        /* margin-top: 5px; */
    }

    .research {
        position: absolute;
        /* bottom: 370px; */
    }

    .container {
        width: 90%;
    }

}

@media screen and (min-width: 401px) and (max-width: 500px) {
    body {
        background-color: purple;
    }

    .MainNav {
        width: 113vw;
    }

    .midNav {
        width: 100%;
    }

    .container {
        width: 110%;
    }

    .HoHome {
        width: 110vw;
    }

    .HVid {
        width: 100vw;
    }

    .Advertisement {
        width: 100vw;
    }

    .homeBox {
        width: 350px;
    }

    .footer {
        width: 100vw;
    }

    .nav-icon {
        position: relative;
        left: 0%;
        top: -22%;
    }

    .changebtn {
        position: relative;
        left: 40%;
    }

    .cartIcon {

        position: absolute;
        left: 142%;
        bottom: 9px;

    }
}

@media screen and (min-width: 760px) and (max-width: 1070px){
    body{
        background-color: green;
    }
    #Navigation{
        width: 14vw;
    }
    .midNav{
        width: 97vw;
    }
    .logoPart{
        width: 13%;
    }
    #shop{
        font-size: 100%;
    }
    #infoBtn{
        position: relative;
        left: 0px;
    }
    .cartIcon{
        position: relative;
        left: -10px;
    }
    
}