@media screen and (min-width: 515px) and (max-width: 660px) {
    body{
        background-color: pink;
    }
   .changebtn{
    color: red;
    position: relative;
    bottom: 15px;
   }
   .extra{
    width:53vw;
   }
   .logoPart{
    width: 45vw;
   }
   .reserach input{
    width: 20vw;
   }
}

@media screen and (min-width: 350px) and (max-width: 515px) {
    body{
        background-color: purple;
    }
    .changebtn{
        color: red;
        position: relative;
        bottom: 15px;
        width: 20px;
    }
    #shop{
        font-size: 1rem;
    }
    .mainLogo{
        display: block;
        width: 50px;
        height: 50px;
    }
    .extra{
        position: absolute;
        right: 15%;
    }
    .research input{
        display: none;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 215px;
        transform: translate(-100%, 60%);
        /* font-size: 1.8rem; */
        cursor: pointer;
        z-index: 3;
        color: #FFDD40;
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 80%;
        border-top: 1px solid white;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
      }
      .nav-menu.active {
        background-color: lavenderblush;
        min-width: 375px;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding-left: 0;
        margin: 0;
        /* margin-top: 5px; */
      }

}

